* {
  font-family: 'IstokWeb';
}
.RegForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.RegForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.RegForm__title {
  font-weight: 400;
  margin: 0px;
  font-size: 48px;
  margin-top: 12px;
  color: white;
}
.RegForm__form_input {
  width: 424px;
  color: #ffff;
}
.RegForm__form_input > label {
  color: white;
  margin-bottom: 16px;
}
.RegForm__buttonSubmit {
  width: 424px;
  margin-top: 48px;
  margin-bottom: 72px;
}
