.ResetForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ResetForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.ResetForm__title {
  font-weight: 400;
  margin: 0px;
  font-size: 48px;
  color: white;
  margin-bottom: 36px;
}
.ResetForm__form_input {
  width: 424px;
}
.ResetForm__form_input > label {
  color: white;
  margin-bottom: 16px;
}
.ResetForm__buttonSubmit {
  width: 424px;
  margin-bottom: 72px;
}
.ResetForm__form_outerIcon {
  color: white;
  left: 400px;
}
